* {
    margin: 0px;
    padding: 0px
}

body {
    text-align: center;
}

div.titlediv {
    text-align: center;
    /*background-color: blue;*/
    background-image: url("img/title.png");
    background-repeat: repeat-x;
}

ul.title_line {
    height:60px;
    display: inline-block;
}

.title_line li {
    float: left;
    list-style: none;
    width: 16%;
    height: 60px;
    line-height: 60px;
    color: black;
}

.titleMiddle {
    width: 60%;
}

image {
    width: 40px;
    height: 40px;
}

.anm_dog {
    width: 100px;
    height: 100px;
}

.floatdiv {
    position: absolute;
    left: 311px;
    top: 815px;
    visibility: hidden;
}

.titleLeft {
    width: 200px;
    float: left;
    background-color: white;
    text-align: left;
    padding-left: 30px;
    height: 40px;
    margin-top: -40px;
}

.titleRight {
    width: 20px;
    float: right;
    background-color: white;
    text-align: right;
    padding-left: 30px;
    height: 40px;
    margin-top: -40px;
}

.content_second {
    height: 400px;;
    background-color: #88bacf;
    margin-top: 20px
}

.content_left {
    height: 100%;
    width: 20%;
    background-color: red;
    float: left
}

.content_middle {
    height: 100%;
    width: 61%;
    background-color: blue;
    float: left
}

.content_right {
    height: 100%;
    width: 19%;
    background-color: green;
    float: right
}

.more {
    float: right;
    display: inline
}

.new {
    float: left;
    display: inline
}

.content_top {
    height:400px;
    /*background-color: #88bacf;*/
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.fu_div {
    height: 200px;
    background-color: black;
    width: 60%;
    margin-top: -200px;
    margin-left: 20%;
    margin-right: 20%;
}

#fdck {
    border: 1px solid #c0c0c0;
    margin: 0 auto;
    padding: 5px;
    background: #f0f0f0;
}
.floatimg{
    width: 80px;
    height: 80px;
}
/*--------------------转盘*/

*:before,
*:after{
    box-sizing: border-box;
}

h1{
    display: table;
    margin: 5% auto 0;
    text-transform: uppercase;
    font-family: 'Anaheim', sans-serif;
    font-size: 4em;
    font-weight: 400;
    text-shadow: 0 1px white, 0 2px black;
}
.container{
    margin: 4% auto;
    width: 210px;
    height: 400px;
    position: relative;
    perspective: 1000;
}
#carousel{
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear;
}
#carousel:hover{
    animation-play-state: paused;
}
#carousel figure{
    display: block;
    position: absolute;
    width: 186px;
    height: 200px;
    left: 10px;
    top: 10px;
    background: black;
    overflow: hidden;
    border: solid 5px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}

img{
    -webkit-filter: grayscale(1);
    cursor: pointer;
    transition: all .5s ease;
    height: 200px;
}
img:hover{
    -webkit-filter: grayscale(0);
    transform: scale(1.2,1.2);
}

@keyframes rotation{
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
}
