* {
    margin: 0px;
    padding: 0px
}

body {
    text-align: center;
}

div.titlediv {
    text-align: center;
    background-color: blue;
}

ul.title_line {
    height: 40px;
    display: inline-block;
}

.title_line li {
    float: left;
    list-style: none;
    width: 16%;
    height: 40px;
    line-height: 40px;
    color: white;
}

.titleMiddle {
    width: 60%;
}

image {
    width: 40px;
    height: 40px;
}

.anm_dog {
    width: 100px;
    height: 100px;
}

.floatdiv {
    position: absolute;
    left: 311px;
    top: 815px;
    visibility: hidden;
}

.titleLeft {
    width: 200px;
    float: left;
    background-color: white;
    text-align: left;
    padding-left: 30px;
    height: 40px;
    margin-top: -40px;
}

.titleRight {
    width: 20px;
    float: right;
    background-color: white;
    text-align: right;
    padding-left: 30px;
    height: 40px;
    margin-top: -40px;
}

.content_second {
    height: 400px;;
    background-color: #88bacf;
    margin-top: 20px
}

.content_left {
    height: 100%;
    width: 20%;
    background-color: red;
    float: left
}

.content_middle {
    height: 100%;
    width: 61%;
    background-color: blue;
    float: left
}

.content_right {
    height: 100%;
    width: 19%;
    background-color: green;
    float: right
}

.more {
    float: right;
    display: inline
}

.new {
    float: left;
    display: inline
}

.content_top {
    height: 200px;
    background-color: #88bacf;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.fu_div {
    height: 200px;
    background-color: black;
    width: 60%;
    margin-top: -200px;
    margin-left: 20%;
    margin-right: 20%;
}

#fdck {
    border: 1px solid #c0c0c0;
    margin: 0 auto;
    padding: 5px;
    background: #f0f0f0
}
